@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
  font-weight: 300;
}

.nav-bar_menu .toggler-icon {
  display: none;
}

.nav-bar_menu .nav-bar {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar_menu .nav-bar .nav-item {
  position: relative;
  list-style: none;
  margin-left: 5px;
}

.nav-bar_menu .nav-bar .nav-item:first-child {
  margin-left: 0;
}

.nav-bar_menu .nav-bar .nav-item:hover::after {
  width: 100%;
}

.nav-bar_menu .nav-bar .nav-item .nav-link {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
  color: #c8c6c1;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 15px;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.nav-bar_menu .nav-bar .nav-item .nav-link:hover {
  color: #19bd9a;
  border: 1px solid #19bd9a;
}

@media only screen and (max-width: 991px) {
  .container {
    width: 100%;
  }
  .nav-bar_menu {
    position: relative;
  }
  .nav-bar_menu .toggler-icon {
    margin-right: 20px;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
  }
  .nav-bar_menu .toggler-icon:hover {
    color: #19bd9a;
  }
  .nav-bar_menu .nav-bar {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100vw;
    z-index: 10;
    background: rgba(25, 189, 154, 0.8);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 189, 154, 0.8)), to(rgba(25, 189, 154, 0.8)));
    background: linear-gradient(rgba(25, 189, 154, 0.8), rgba(25, 189, 154, 0.8));
  }
  .nav-bar_menu .nav-bar .nav-item {
    position: relative;
    margin-left: 0;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .nav-bar_menu .nav-bar .nav-item:hover {
    background: #12876e;
    -webkit-transition: all, .5s;
    transition: all, .5s;
  }
  .nav-bar_menu .nav-bar .nav-item .nav-link {
    text-align: center;
    -webkit-transition: none;
    transition: none;
    border: none;
    color: #000;
  }
  .nav-bar_menu .nav-bar .nav-item .nav-link:hover {
    border: none;
    color: #fff;
    -webkit-transition: all, .2s;
    transition: all, .2s;
  }
}

@media only screen and (max-width: 767px) {
  .nav-bar_menu .toggler-icon {
    font-size: 29px;
  }
  .nav-bar_menu .nav-bar .nav-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav-bar_menu .nav-bar .nav-item .nav-link {
    font-size: 16px;
  }
}

@media only screen and (max-width: 567px) {
  .nav-bar_menu .toggler-icon {
    font-size: 26px;
  }
  .nav-bar_menu .nav-bar .nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-bar_menu .nav-bar .nav-item .nav-link {
    font-size: 15px;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Open Sans, Arial, sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-heading {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 210px;
  color: #c8c6c1;
}

.section-heading_title {
  font-family: Source Sans Pro;
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 5px;
}

.section-heading_line {
  width: 150px;
  height: 1px;
  background: #c8c6c1;
}

.section-heading_discr {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

header {
  width: 100%;
  padding-bottom: 20px;
  position: relative;
  background: url(../img/header-background.jpg) no-repeat center/cover;
}

header .top-header {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
}

header .top-header_logo {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

header .arrow-down {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 70px;
}

header .arrow-down div {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 2px solid #c8c6c1;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

header .arrow-down div i {
  font-size: 23px;
  color: #c8c6c1;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

header .arrow-down div:hover {
  border: 2px solid #19bd9a;
}

header .arrow-down div:hover i {
  color: #19bd9a;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

@media only screen and (max-width: 991px) {
  .top-header_logo {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .section-heading {
    margin-top: 130px;
  }
  header .top-header {
    margin-top: 50px;
  }
  header .arrow-down {
    margin-top: 150px;
    margin-bottom: 50px;
  }
  header .arrow-down div {
    width: 30px;
    height: 30px;
  }
  header .arrow-down div i {
    font-size: 18px;
  }
}

@media only screen and (max-width: 567px) {
  .section-heading {
    margin-top: 90px;
  }
  .section-heading_title {
    font-size: 25px;
    letter-spacing: 3px;
  }
  .section-heading_line {
    width: 100px;
  }
  .section-heading_discr {
    font-size: 13px;
  }
  header .top-header {
    margin-top: 30px;
  }
  header .arrow-down {
    margin-top: 110px;
    margin-bottom: 30px;
  }
  header .arrow-down div {
    width: 25px;
    height: 25px;
  }
  header .arrow-down div i {
    font-size: 13px;
  }
}

#about-us {
  width: 100%;
  padding: 80px 0;
}

#about-us .about-us_info {
  padding: 0;
}

#about-us .about-us_info h1 {
  color: #333b46;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#about-us .about-us_info p {
  color: #81868e;
  margin-top: 45px;
  margin-bottom: 40px;
  font-size: 13px;
  font-weight: 400;
}

#about-us .about-us_info .bouncy-btn {
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 400;
  width: 130px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #000;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

#about-us .about-us_info .bouncy-btn:hover {
  color: #fff;
  font-weight: 400;
  background-color: #12876e;
  border: 1px solid transparent;
}

#about-us .about-us_image {
  margin-left: 130px;
}

@media only screen and (max-width: 767px) {
  #about-us {
    padding: 50px 0;
  }
  #about-us .about-us_info {
    text-align: center;
  }
  #about-us .about-us_info h1 {
    font-size: 18px;
    font-weight: 300;
  }
  #about-us .about-us_info p {
    margin: 0 auto;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 11px;
  }
  #about-us .about-us_info .bouncy-btn {
    margin: 0 auto;
    font-size: 15px;
    width: 125px;
  }
  #about-us .about-us_image {
    display: none;
  }
}

.section-title {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.section-title_heading {
  margin: 0;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  color: #333b46;
}

.section-title_discr {
  margin: 35px 0 60px 0;
  color: #81868e;
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .section-title_heading {
    font-size: 18px;
  }
  .section-title_discr {
    font-size: 12px;
    margin: 25px 0 40px 0;
  }
}

@media only screen and (max-width: 575px) {
  .section-title_heading {
    font-size: 18px;
  }
  .section-title_discr {
    font-size: 12px;
    margin: 20px 0 35px 0;
  }
}

#about-us-details {
  width: 100%;
  padding: 80px 0;
  background-color: #f3f3f3;
}

#about-us-details .about-bouncy-info .icons .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #81868e;
  text-align: center;
  cursor: pointer;
}

#about-us-details .about-bouncy-info .icons .icon i {
  color: #fff;
  font-size: 30px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

#about-us-details .about-bouncy-info .icons .icon-on {
  background-color: #19bd9a;
}

#about-us-details .about-bouncy-info .contents {
  padding-top: 40px;
}

#about-us-details .about-bouncy-info .contents .content {
  position: relative;
  display: none;
}

#about-us-details .about-bouncy-info .contents .content h2 {
  font-weight: 400;
  font-size: 20px;
  color: #464646;
  margin: 0;
}

#about-us-details .about-bouncy-info .contents .content .text-info {
  padding-top: 35px;
}

#about-us-details .about-bouncy-info .contents .content .text-info .text-info-1 {
  font-size: 14px;
  margin: 0;
  color: #81868e;
  font-weight: 400;
}

#about-us-details .about-bouncy-info .contents .content .text-info .text-info-2 {
  font-size: 13px;
  margin: 0;
  color: #81868e;
  font-weight: 400;
}

#about-us-details .about-bouncy-info .contents .show {
  display: block;
}

@media only screen and (max-width: 767px) {
  #about-us-details {
    padding: 40px 0;
  }
  #about-us-details .about-bouncy-info .icons .icon {
    width: 40px;
    height: 40px;
  }
  #about-us-details .about-bouncy-info .icons .icon i {
    font-size: 20px;
  }
  #about-us-details .about-bouncy-info .contents {
    padding-top: 20px;
  }
  #about-us-details .about-bouncy-info .contents .content h2 {
    font-size: 16px;
  }
  #about-us-details .about-bouncy-info .contents .content .text-info {
    padding-top: 20px;
  }
  #about-us-details .about-bouncy-info .contents .content .text-info .text-info-1 {
    font-size: 13px;
  }
  #about-us-details .about-bouncy-info .contents .content .text-info .text-info-2 {
    font-size: 11px;
  }
}

@media only screen and (max-width: 575px) {
  #about-us-details {
    padding: 40px 0;
  }
  #about-us-details .about-bouncy-info .icons .icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }
  #about-us-details .about-bouncy-info .icons .icon i {
    display: none;
  }
  #about-us-details .about-bouncy-info .contents {
    padding-top: 20px;
  }
  #about-us-details .about-bouncy-info .contents .content h2 {
    font-size: 16px;
  }
  #about-us-details .about-bouncy-info .contents .content .text-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 20px;
  }
  #about-us-details .about-bouncy-info .contents .content .text-info .text-info-1 {
    font-size: 13px;
  }
  #about-us-details .about-bouncy-info .contents .content .text-info .text-info-2 {
    font-size: 11px;
    margin-top: 10px;
  }
}
