// compilate...

@import "./_components/_open-sans.scss";
@import "./_components/_roboto.scss";
@import "./_components/_source-sans-pro.scss";

*  {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: Open Sans, Arial, sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-heading {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 210px;
  color: #c8c6c1;

  &_title {
    font-family: Source Sans Pro;
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 5px;
  }

  &_line {
    width: 150px;
    height: 1px;
    background: #c8c6c1;
  }

  &_discr {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0;
  }
}

header {
  width: 100%;
  padding-bottom: 20px;
  position: relative;
  background: url(../img/header-background.jpg) no-repeat center / cover;

  .top-header {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;

    &_logo {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer;
    }

    &_menu {

      .nav-bar {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        .nav-item {
          list-style: none;

          .nav-link {
            margin-left: 5px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 12px;
            padding-right: 12px;
            color: #c8c6c1;
            font-size: 16px;
            border: 1px solid transparent;
            border-radius: 15px;
            -webkit-transition: all, 0.5s;
            transition: all, 0.5s;

            &:hover {
              border: 1px solid #c8c6c1;
            }
          }
        }
      }
    }
  }

  .arrow-down {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 200px;
    margin-bottom: 70px;

    div {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 38px;
      height: 38px;
      border: 2px solid #c8c6c1;
      border-radius: 20px;
      cursor: pointer;
      -webkit-transition: all, 0.5s;
      transition: all, 0.5s;

      i {
        font-size: 23px;
        color: #c8c6c1;
        -webkit-transition: all, 0.5s;
        transition: all, 0.5s;
      }

      &:hover {
        border: 2px solid #07a9fd;

        i {
          color: #07a9fd;
          -webkit-transform: translateY(2px);
                  transform: translateY(2px);
        }
      }
    }
  }


}
